<div class="container">
  <div class="row justify-content-center">

    <div class="col-sm-offset-6 col-md-6 mt-4">
      <h3>Contact</h3>
      <form method="post" data-form-title="CONTACT">
        <input type="hidden" data-form-email="true">
        <div class="form-group">
          <input type="text" class="form-control" name="name" required="" placeholder="Name*" data-form-field="Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" required="" placeholder="Email*" data-form-field="Email">
        </div>
        <div class="form-group">
          <input type="tel" class="form-control" name="phone" placeholder="Phone" data-form-field="Phone">
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" placeholder="Message" rows="7" data-form-field="Message"></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-lg btn-danger">Contact</button>
        </div>
      </form>
    </div>
  </div>
</div>
