<nav class="navbar navbar-expand-md navbar-light bg-secondary">
  <a href="#" class="navbar-brand text-light">MyAngularAppLogo</a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-light active" href="" [routerLink]="['/main']" (click)="isMenuCollapsed = true">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="" [routerLink]="['/contact']" (click)="isMenuCollapsed = true">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

