<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-4">
      <div class="card mb-5">
        <div class="card-img-block">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title mt-2">Samson Emeje</h5>
          <p class="card-text">Highly motivated Front-end Developer who loves building products for desktop, phone and mobile app users while meeting the highest standards for web design, user experience, best practices, usability and speed.</p>
        </div>
      </div>
    </div>
  </div>
</div>
